<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER" />
    </Fragment>
    <Fragment>
        <ComponentGroup Id="HarvestedComponents">
            <Component Id="cmp1F26F25BBD2AB6AB0821640B70CDCA20" Directory="INSTALLFOLDER" Guid="DF266B3C-3B2D-45EA-9FB6-9AE4D2FD1411">
                <File Id="fil59E491BD511434B0C934F789C8A2E0FF" KeyPath="yes" Source="$(var.Deploy)\AudioOutputIndicator.deps.json" />
            </Component>
            <Component Id="cmp256B748B2DEB626678D2F2CC24B9A3DA" Directory="INSTALLFOLDER" Guid="5D0CCF0E-5365-43D7-BBCC-0776BB08B356">
                <File Id="fil0E818ED060F9E4F6E7DE071AFD49E004" KeyPath="yes" Source="$(var.Deploy)\AudioOutputIndicator.dll" />
            </Component>
            <Component Id="cmpB4687B86E8E743466EF8D9C54E710DDE" Directory="INSTALLFOLDER" Guid="CE92983B-A158-4B44-B673-1438FC5ADCBA">
                <File Id="filB2C8A2AD2BC13ECC7E0FCA9353F1C9C8" KeyPath="yes" Source="$(var.Deploy)\AudioOutputIndicator.exe" />
            </Component>
            <Component Id="cmpA3FC553DA9987735F74C1AD1D6B3807C" Directory="INSTALLFOLDER" Guid="00EF9995-8E43-45A2-A2B4-30E2AD34A7E8">
                <File Id="fil36E586E7FFE249D91611AABB80CA3F99" KeyPath="yes" Source="$(var.Deploy)\AudioOutputIndicator.pdb" />
            </Component>
            <Component Id="cmp43DF38BCF1E99EDF37CFD9EDE427C286" Directory="INSTALLFOLDER" Guid="59DCB089-96CB-4AF5-9565-92BDECA563B3">
                <File Id="fil7A33E689D9B36D5E005FBE470ACF784B" KeyPath="yes" Source="$(var.Deploy)\AudioOutputIndicator.runtimeconfig.json" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>