<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Directory Id="dirB15F4604371D144EAEEAD44FE901D873" Name="cs" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="HarvestedComponents">
            <Component Id="cmp1F26F25BBD2AB6AB0821640B70CDCA20" Directory="INSTALLFOLDER" Guid="21060DEE-64AE-4BFF-BEBB-63C2AD23C392">
                <File Id="fil59E491BD511434B0C934F789C8A2E0FF" KeyPath="yes" Source="$(var.Deploy)\AudioOutputIndicator.deps.json" />
            </Component>
            <Component Id="cmp256B748B2DEB626678D2F2CC24B9A3DA" Directory="INSTALLFOLDER" Guid="5BF218BE-A26F-43EF-B296-F6F8C3403CE7">
                <File Id="fil0E818ED060F9E4F6E7DE071AFD49E004" KeyPath="yes" Source="$(var.Deploy)\AudioOutputIndicator.dll" />
            </Component>
            <Component Id="cmpB4687B86E8E743466EF8D9C54E710DDE" Directory="INSTALLFOLDER" Guid="18C1FE4E-5FF0-413C-930C-BA30575838B0">
                <File Id="filB2C8A2AD2BC13ECC7E0FCA9353F1C9C8" KeyPath="yes" Source="$(var.Deploy)\AudioOutputIndicator.exe" />
            </Component>
            <Component Id="cmpA3FC553DA9987735F74C1AD1D6B3807C" Directory="INSTALLFOLDER" Guid="D6197BE0-40BC-47BF-9A31-EB11927E762A">
                <File Id="fil36E586E7FFE249D91611AABB80CA3F99" KeyPath="yes" Source="$(var.Deploy)\AudioOutputIndicator.pdb" />
            </Component>
            <Component Id="cmp43DF38BCF1E99EDF37CFD9EDE427C286" Directory="INSTALLFOLDER" Guid="A2262C85-8DED-4809-87AD-0777FAEF8D7D">
                <File Id="fil7A33E689D9B36D5E005FBE470ACF784B" KeyPath="yes" Source="$(var.Deploy)\AudioOutputIndicator.runtimeconfig.json" />
            </Component>
            <Component Id="cmpB469F0CCB155BEF94BE61854CC4FC2B7" Directory="dirB15F4604371D144EAEEAD44FE901D873" Guid="39166027-90C6-43CB-985D-DFB8C5033D31">
                <File Id="filDE5C9EA4480247776758A05F64D67830" KeyPath="yes" Source="$(var.Deploy)\cs\AudioOutputIndicator.resources.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>